
*.gif
*.plist
*.xcconfig
*.xcworkspacedata
*.xcscheme
*.xcsettings
*.xml
*.pbxproj
*.pdb
*.cache
*.cache
*.dll
*.pdb
NetworkService/obj/Debug/net5.0/NetworkService.assets.cache
*.pdb
*.exe
*.pdb
UnitaryTester-FCM/.vs/UnitaryTester-FCM/v16/.suo
*.so
